<button ng-click="toggleOnline()">
    <span ng-show="isOnline()">Put offline</span>
    <span ng-show="!isOnline()">Put online</span>
</button>

<button ng-click="makePOST()">
    Make POST
</button>

<button ng-click="makeGET()">
    Make GET
</button>